.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-list {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}

:host ::ng-deep .ant-list-item-meta-avatar {
  margin-top: 10px;
}


@media (max-width: 1024px) {
  .custom-list {
    width: 100%;
    margin-bottom: 10px;
  }
}
